@model DataBroker.Models.MedicalCondition

@*
    Look at appendNewCard in MedicalConditionCardList if this thing doesn't work
    (We are very much assuming this code will generate accordingly without the need to do the hacky thing in MedicalConditionCardList)
    Or talk to Nhi if you aren't Nhi
*@

<div class="card mc-card mb-3">
    <div class="card-body">
        <div class="mc-edit-options mc-view">
            <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i> 
            <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Remove"></i>
        </div>
        <p class="card-text">
            <div class="mc-name form-group">
                <label>Name</label>
                <span class="mc-view">@Model.Name</span>
                <input class="form-control mc-edit" type="text" asp-for="@Model.Name" />
            </div>
            <div class="mc-type form-group">
                <label>Type</label>
                <span class="mc-view">@Model.Type</span>
                <input type="text" class="form-control mc-edit" asp-for="@Model.Type" />
            </div>
            <div class="mc-severity form-group">
                <label>Severity</label>
                <span class="mc-view">@Model.Severity</span>
                <input type="number" min="0" max="10" step="1" class="form-control mc-edit" asp-for="@Model.Severity" />
            </div>
            <div class="mc-additional form-group">
                <label>Additional Information</label>
                <span class="mc-view">@Model.AdditionalInfo</span>
                <textarea class="form-control mc-edit" placeholder="Additional Information" asp-for="@Model.AdditionalInfo." />
            </div>
        </p>
        <button type="button" class="btn btn-primary mc-edit">Save</button> 
        <button type="button" class="btn btn-light mc-edit">Cancel</button>
    </div>
</div>